<mat-sidenav-container fxFlex="250px">
  <mat-sidenav mode="side" opened>
    <mat-list *ngIf="menu && menu.children && menu.children.length > 0">
      <ng-container *ngFor="let item of menu.children" [ngSwitch]="itemType(item)">
        <h3 *ngSwitchCase="'AcMenuHeaderItem'">
          {{ item.text }}
        </h3>
        <mat-list-item *ngSwitchCase="'AcMenuLabelItem'">
          <mat-icon>{{ item.icon }}</mat-icon>
          <h4>{{ item.text }}</h4>
        </mat-list-item>
        <mat-list-item *ngSwitchCase="'AcMenuLinkItem'" [routerLink]="item.link">
          <mat-icon>{{ item.icon }}</mat-icon>
          <h4>{{ item.text }}</h4>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>