.companyInfo {
	color: #fff;
	background: rgba(0, 0, 0, .2);
	//border-radius: $border-radius-default;
	font-size: .8em;
	padding: 8px;

	strong {
		font-weight: 800;
	}

	em {
		font-style: italic;
	}
}

.nothingFound {
	font-style: italic;
	color: #fff;
	background: rgba(0, 0, 0, .2);
	padding: 4px;
}