<div [class]="'form__col form__col-' + controlName">
    <label *ngIf="options?.title"
           [attr.for]="'control' + layoutNode?._id"
           [class]="options?.labelHtmlClass"
           [class.sr-only]="options?.notitle"
           [innerHTML]="options?.title"></label>
    <input #inputControl
           [class]="options?.fieldHtmlClass"
		   [class.is-invalid]="formControl.invalid"
           [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
           [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
           [attr.maxlength]="options?.maxLength"
           [attr.minlength]="options?.minLength"
           [attr.pattern]="options?.pattern"
           [attr.readonly]="options?.readonly ? 'readonly' : null"
           [disabled]="controlDisabled"
           [id]="'control' + layoutNode?._id"
           [name]="controlName"
           [placeholder]="options?.title"
           [required]="options?.required"
           [style.width]="'100%'"
           [type]="layoutNode?.type"
           [value]="controlValue"
           [(ngModel)]="controlValue"
    >

    <div *ngIf="norwayCompany$ | async; let company; else looking"  class="companyInfo">
        <div  *ngIf="company.company_name;  else looking">
            <strong>{{company.company_name}}</strong>
            <ul>
                <li><em>Address: </em> {{company.company_street}}</li>
                <li><em>Zip code: </em> {{company.company_zip}}</li>
                <li><em>City: </em>{{company.company_city}}</li>
                <li><em>City number: </em>{{company.company_city_no}}</li>
                <li><em>Country: </em>{{company.company_state}}</li>
                <li><em>Country code: </em>{{company.company_country_code}}</li>
            </ul>
        </div>

    </div>
    <ng-template #looking>
        <p class="lead" *ngIf="loading === true; else no_results">Loading...</p>
    </ng-template>
    <ng-template #no_results>
        <em>No match found.</em>
    </ng-template>

</div>
