<div
	[class]="options?.htmlClass ? options?.htmlClass : 'is-center'">
	<button
		[attr.readonly]="options?.readonly ? 'readonly' : null"
		[attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
		[class]="options?.fieldHtmlClass ? options?.fieldHtmlClass : 'button is-white is-large is-margin-top'"
		[disabled]="controlDisabled"
		[name]="controlName"
		[type]="options?.type ? options?.type : layoutNode?.type"
		[value]="controlValue"
		(click)="updateValue($event)">
        <span *ngIf="options?.icon || options?.title"
              [class]="options?.icon ? options?.icon : ''"
              [innerHTML]="options?.title | translate"></span>
	</button>
</div>