<mat-grid-list cols="2" gutterSize="24px">
	<mat-grid-tile-header>
		<h2>Dashboard</h2>
	</mat-grid-tile-header>
	<mat-grid-tile>
		<ac-infobox icon="account_circle" text="Widgets" number="3" footerText="Show widgets" [footerLink]="['/widgets/list']" color="Warning"></ac-infobox>
	</mat-grid-tile>
	<mat-grid-tile>
		<ac-infobox icon="view_list" text="Forms" [number]="users.length" footerText="Show some demo data" [footerLink]="['/editor/list']"
		 color="Info"></ac-infobox>
	</mat-grid-tile>
</mat-grid-list>