/* ===================================================
Buttons
=================================================== */

/* ---------------------------------------------------
Button styles
--------------------------------------------------- */

button,
input[type="submit"] {
	@include reset-btn();
}

// TODO: Remove button and utilise bb-button
.button {
	@warn "Deprecated. Please use bb-button instead";
	display: flex;
	cursor: pointer;
	background-color: $button-bg-color;
	height: $button-height-med;
	padding: 0 ($button-height-med / 2);
	border-radius: ($button-height-med / 2);
	font-family: $font-text-bold;
	font-size: $button-font-med;
	line-height: 1;
	color: $button-font-color;
	text-align: $button-font-align;
	text-decoration: none;
	min-width: $button-min-width-med;
	font-weight: $button-font-weight;
	margin: 0 $button-margin-side-med $button-margin-side-med;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	&:first-of-type {
		margin-left: auto;
	}

	&:last-of-type {
		margin-right: auto;
	}

	@include media($breakpoint-main-max) {
		display: table;
		height: $button-height-med-mobile;
		line-height: $button-height-med-mobile;
		margin: 0 auto $button-margin-side-med;
	}

	/*
    Button Tab
    ----------------------- */
	&.is-tab {
		display: block;
		margin: 0;
		border-radius: 0;

		@include media($breakpoint-main-max) {
			padding: 0 ($button-height-med / 2 + $button-height-med);
			width: 100%;
			height: $button-height-med;
		}

		&:first-of-type {
			@include media($breakpoint-main-min) {
				border-radius: ($button-height-med / 2) 0 0 ($button-height-med / 2);
			}
		}

		&:last-of-type {
			@include media($breakpoint-main-min) {
				border-radius: 0 ($button-height-med / 2) ($button-height-med / 2) 0;
			}
		}

		&.is-active {
			@include media($breakpoint-main-max) {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}
		}
	}

	/*
    Button Pil
    ----------------------- */
	&.is-pill {
		position: relative;
		margin: 0;
		border-radius: 0;
		border-right: 1px solid #0990ca;
		min-width: 7.2rem;
		font-size: 2rem;
		line-height: 0;
		background-color: transparent;
		overflow: visible;
		box-sizing: border-box;

		@include media($breakpoint-main-max) {
			padding: 0 ($button-height-med / 2 + $button-height-med);
			width: 100%;
			height: $button-height-med;
		}

		.icon {
			@include centering(hv);
		}

		&:first-of-type {
			@include media($breakpoint-main-min) {
				border-radius: ($button-height-med / 2) 0 0 ($button-height-med / 2);
			}
		}

		&:last-of-type {
			border-right: none;

			@include media($breakpoint-main-min) {
				border-radius: 0 ($button-height-med / 2) ($button-height-med / 2) 0;
			}
		}

		&.is-active {
			@include media($breakpoint-main-max) {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}
		}
	}

	/*
    Modifiers: Sizes
    ----------------------- */
	&.is-tiny {
		height: $button-height-tny;
		line-height: $button-height-tny;
		min-width: $button-min-width-tny;
		margin: 0 $button-margin-side-tny $button-margin-side-tny;
		padding: 0 ($button-height-tny / 2);

		&.is-min-width {
			min-width: 150px;
		}

		&.is-block {
			display: block;
		}
	}

	&.is-large {
		min-width: $button-min-width-lrg;
		height: $button-height-lrg;
		line-height: $button-height-lrg;
		padding: 0 ($button-height-lrg / 2);
		border-radius: ($button-height-lrg / 2);
	}

	/*
    Modifiers: Colors
    ----------------------- */
	&.is-white {
		background-color: $button-bg-color-white;
		color: $button-font-color-blue;
	}

	/*
    Modifiers: Position
    ----------------------- */
	&.is-center {
		margin: 0 auto;
	}

	/*
    Modifiers: States
    ----------------------- */
	&:hover {
		background-color: $button-hover-bg-color;
		color: $button-hover-color;
	}

	&:disabled,
	&.is-disabled {
		background-color: $button-bg-color-disabled;
		color: $button-font-color-disabled;
	}

	&.is-active {
		cursor: default;
		background-color: $button-hover-bg-color;
		color: $button-hover-color;
	}
}

/* ---------------------------------------------------
Button Container styles
--------------------------------------------------- */
.button-container-pill {
	display: table;
	margin: 0 auto;
	border-radius: ($button-height-med / 2);
	line-height: 0;
	background-image: linear-gradient(-225deg, #0099da 0%, #2ab8f5 100%);
}