@import "../../../scss/helpers";

.accordion-item {
	position: relative;

	.accordion__header {
		position: relative;
		display: block;
		color: $color-white;
		text-align: left;
		padding: 1.5rem 2rem 1.5rem 0;
		text-decoration: none;

	}

	.accordion__header-icon {
		position: absolute;
		line-height: 0;
		right: 5px;
		margin-right: 1rem;
		top: calc(50% - 6px);
		transform: rotate(90deg);
		transition: all .5s;
	}

	.accordion__content {
		height: 0;
		overflow: hidden;
		transition: height .35s;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
	}

	.accordion__content-inner {
		//padding: $margin-base 0;
	}

	&.is-open {
		.accordion__content {
			height: 28rem;
			@include media("<mobile-xl") {
				height: auto;
			}
		}

		.accordion__header-icon {
			transform: rotate(-90deg);
		}
	}
}