<!-- Top Nav Bar -->
<button mat-icon-button [mat-menu-trigger-for]="mainMenu">
  <mat-icon>hamburger</mat-icon>
</button>
<mat-menu x-position="before" #mainMenu="matMenu">
  <button mat-menu-item routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>
  <button mat-menu-item routerLink="/editor">
    <mat-icon>editor</mat-icon>
    <span>Editor</span>
  </button>
  <button mat-menu-item routerLink="/about">
    <mat-icon>user</mat-icon>
    <span>About</span>
  </button>
</mat-menu>