<div fxLayout="column" fxLayout.xs="column" fxLayoutGap="8px">
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a class="navbar-brand" href="/index.html">
          <img src="/assets/images/logo.png" />
        </a>
        <site-nav></site-nav>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <div fxLayout="row">
    <ac-sidemenu [menu]="dynamicMenu"></ac-sidemenu>
    <article>
      <mat-card>
        <mat-card-title>
          {{ currentRoute.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ currentRoute.subTitle }}
        </mat-card-subtitle>
        <mat-card-content>
          Welcome to SVOGV &ndash; the 'Simple Validation and Other Great View components' library
        </mat-card-content>
      </mat-card>
      <!-- Global navigation path -->
      <ac-breadcrumb fxLayoutWrap></ac-breadcrumb>
      <!-- the global outlet, within the parts the named tab outlet shows sub parts -->
      <div fxLayoutWrap>
        <router-outlet></router-outlet>
      </div>
    </article>
  </div>
  <footer>
    <p>&copy; 2011 - {{ currentYear }} Joerg &lt;isageek&gt; Krause
      <em>www.joergkrause.de</em>
    </p>
  </footer>
</div>