<div class="checkbox__wrapper"
     [ngClass]="{'is-error': props.formControl.touched && props.formControl.invalid }"
     [formGroup]="props.parentFormGroup">
	<div class="checkbox__item">
		<input id="{{props.id}}"
		       name="{{props.id}}"
		       type="checkbox"
		       [formControlName]="props.path"
		       class="checkbox__input"/>
		<label for="{{props.id}}"
		       class="checkbox__label">
			<div *ngIf="ui['ui:options']?.markdownLabel; else regularLabel" [data]="title "
					  class="is-white"
					  links-to-router [asExternalLinks]="true"></div>
			<ng-template #regularLabel>{{ title }}</ng-template>
			<abbr *ngIf="required" title="Required">*</abbr>
		</label>

		<div class="checkbox__description" *ngIf="description">
			<div *ngIf="markdownDescription; else regularDescription" [data]="description "
					  links-to-router [asExternalLinks]="true"></div>
			<ng-template #regularDescription>{{ description }}</ng-template>
		</div>

	</div>
</div>