<div class="bb-wizard" [class.show-validation-results]="registrationState.showErrorMessages">
    <div class="bb-wizard__header">
        <ul
            [class]="options?.labelHtmlClass">
            <li *ngFor="let step of registrationState.steps; let i = index"
                [class]="options?.itemLabelHtmlClass + (registrationState.activeStep === i ?
              (' ' + options?.activeClass ) : '')"
				[class.is-enabled]="i < registrationState.activeStep"
                (click)="goToStep(i)"
            >
                <a class="navigation__link">
                    <span class="navigation__number">{{i+1}}</span>
                    <span class="navigation__title">{{setTitle(steps[i], i) | translate}}</span>
                </a>
            </li>
        </ul>
    </div>
	<div class="hint"><small>* {{ 'registration.i18n_required_fields' | translate }}</small></div>
    <div class="bb-wizard__content">
		<div class="step-errors" *ngIf="registrationState.showErrorMessages">
			<div class="error" *ngIf="registrationState.errorMessages?.length">{{'registration.i18n_error_message' | translate }}</div>
		</div>
        <div *ngFor="let step of registrationState.steps; let i = index"
             [class]="options?.htmlClass">
            <wizard-step-widget *ngIf="registrationState.activeStep === i"
                                [class]="options?.fieldHtmlClass + ' ' + options?.activeClass + ' ' + options?.style?.selected"
                                [dataIndex]="steps?.dataType === 'array' ? (dataIndex || []).concat(i) : dataIndex"
                                [layoutIndex]="(layoutIndex || []).concat(i)"
                                [layoutNode]="steps[i]"
								>
            </wizard-step-widget>
        </div>
    </div>
    <div class="bb-wizard__footer"></div>
</div>
