/*
Local Variables
----------------------- */
$form-wizard-header-height: 4.6rem;
$form-wizard-mobile-label-height: 2.4rem;

.bb-wizard__header {
	@include grid-column(12, $form-grid);
	font-size: 1.2rem;
	font-weight: bold;
	float: none;
	text-align: center;

	@include media("<tablet-p") {
		position: relative;
		padding-bottom: $form-wizard-mobile-label-height * 2;
		display: inline-block;
	}
}

.bb-wizard__content {
	margin-top: 50px;
}

.bb-wizard__footer {
	@include grid-column(12, $form-grid);
	text-align: center;
}

.navigation__title {
	display: none;

	@include media(">tablet-p") {
		display: inline-block;
	}
}

.navigation__list {
	display: inline-block;
	list-style: none;
	background-color: rgba($color-light, .3);
	border-radius: ($form-wizard-header-height / 2);

	@include media(">tablet-p") {
		display: flex;
	}
}

.navigation__number {
	width: 20px;
	height: 20px;
	background-color: $color-blue-vw;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: $color-light;
	border-radius: 50%;

	@include media(">tablet-p") {
		margin-right: 10px;
	}
}

.navigation__list-item {
	display: inline-block;
	color: $color-light;
	text-transform: uppercase;
	height: $form-wizard-header-height;
	width: $form-wizard-header-height;

	@include media(">tablet-p") {
		width: initial;
		text-align: left;
		flex: 1 1 100%;
	}

	&.is-active {
		color: $color-blue-vw;
		background-color: $color-light;
		border-radius: ($form-wizard-header-height / 2);

		.navigation__number {
			background-color: $color-blue-vw;
			color: $color-light;
		}

		.navigation__title {
			@include media("<tablet-p") {
				@include centering(h);
				display: inline-block;
				bottom: 0;
				padding: 4px 14px;
				background-color: rgba($color-light, .3);
				border-radius: $form-wizard-header-height / 2;
				color: $color-light;
			}
		}

		&.is-enabled {
			.navigation__number {
				background-color: $color-blue-vw;
				color: $color-light;
			}
		}
	}

	&.is-enabled {
		cursor: pointer;

		.navigation__number {
			background-color: $color-light;
			color: $color-blue-vw;
		}
	}

	&.is-disabled {
		color: $color-blue-vw;
	}

	&.completed {
		cursor: default;
	}
}

.navigation__link {
	padding-top: 1.3rem;
	display: block;

	@include media(">tablet-p") {
		display: block;
		padding: 1.3rem 1.6rem;
	}
}

.step-errors {
	padding: 1.5rem;

	.error {
		border-radius: $border-radius-default;
		padding: 13px;
		background-color: $color-invalid;
		color: white;
		text-align: center;
		margin-bottom: 10px;
		font-size: 14px;
		font-family: $font-head-bold;
	}
}

.hint {
	padding: 1.5rem;
	text-align: right;
	margin-bottom: .5rem;
	color: #fff;
}
