<div [class]="'form__col form__col-' + controlName" [class.is-invalid]="formControl.invalid">
	<input
		[id]="'control' + layoutNode?._id"
		[name]="controlName"
		[type]="layoutNode?.type"
		[class]="options?.fieldHtmlClass"
		[class.is-invalid]="formControl.invalid"
		[checked]="formControl.value"
		(change)="updateValue($event)">
	<label *ngIf="options?.title"
		   [class.sr-only]="options?.notitle"
		   [class]="options?.labelHtmlClass"
		   [attr.for]="'control' + layoutNode?._id">
			<span *ngIf="options.required">*</span>
		<markdown *ngIf="options.markdownLabel" [data]="options?.title | translate"
				  class="richtext-block"
				  links-to-router [asExternalLinks]="true"></markdown>
		<ng-template [ngIf]="!options.markdownLabel">{{ options?.title | translate }}</ng-template>

	</label>

	<div *ngIf="options?.description"
		 class="form__description form__checkbox-description"
		 [innerHTML]="options?.description | translate"
	>
	</div>
</div>
