<fieldset
		[class]="options?.htmlClass ? options?.htmlClass : 'form__fieldset'"
		[class.expandable]="options?.expandable && !expanded"
		[class.expanded]="options?.expandable && expanded"
		[disabled]="options?.readonly">
	<legend *ngIf="options?.title && layoutNode?.type !== 'tab'"
			[class]="options?.labelHtmlClass ? options?.labelHtmlClass : 'form__legend'"
			[class.sr-only]="options?.notitle"
			[innerHTML]="options?.title | translate"
			(click)="expand()"></legend>
	<div *ngIf="options?.description && !options.markdownLabel"
		 class="form__description form__fieldset-description"
		 [innerHTML]="options?.description | translate"
	></div>
	<markdown *ngIf="options?.description && options.markdownLabel"
			  class="form__description form__fieldset-description"
			  [data]="options?.description | translate" links-to-router></markdown>

	<root-widget *ngIf="expanded"
				 [formID]="formID"
				 [layout]="layoutNode.items"
				 [dataIndex]="dataIndex"
				 [layoutIndex]="layoutIndex"
				 [isOrderable]="options?.orderable"></root-widget>

</fieldset>
