<div class="list-row ">
    <!-- is-main-panel-collapsed-left 
    <div *ngIf="showHorizontalBars" [percentageAmount]="barPercentageAmount" [maxValueReference]="maxValueReference"
        [filterType]="filterType">
    </div>
    -->
    <div class="item-recap-wrapper">


        <ng-content select="item-summary"></ng-content>
        <ng-content select="[custom-summary]"></ng-content>

        <div class="right-markers" *ngIf="isActive">
            <ac-marker *ngFor="let marker of rightMarkers ; let i = index " [vm]="{type: marker.type, level: marker.level, caption: marker.caption, count: marker.count}"
                [iconSize]="'13px'">
                </ac-marker>
        </div>
    </div>

    <div class="item-result">
        <ng-content select="[right-container]"></ng-content>
    </div>

</div>