/* ===================================================
Global Variables
=================================================== */

/*
Layout
----------------------- */
$srf-margin-base: 1rem !default;

/*
Fonts
----------------------- */
$srf-label-size: 1.6rem !default;
$srf-label-color: #fff !default;

/*
Colors
----------------------- */
$srf-error-color: #c70000 !default;

/*
Support
*/
$svogv-webkit: false;
$svogv-moz: false;
$svogv-ms: false;
$svogv-o: false;