@import "../../scss/helpers";

:host {
	margin-bottom: $margin-base * 2;

	@include media(">mobile-p") {
		display: block;
		margin-bottom: 0;
	}

	.picture-text__picture {
		margin-bottom: 1em;
	}

	&.is-center {
		text-align: center;
	}
}

:host.picture-text--notify {
	flex: 1;
	overflow: hidden;
	display: flex;
	align-items: center;

	@include media(">mobile-p") {
		display: block;
		margin: 0 50px; // use margin instead of max width to fix IE 11 layout
	}

	> * {
		flex-basis: 85px;

		@include media(">mobile-p") {
			flex-basis: auto;
		}
	}

	.picture-text__text {
		@include media("<mobile-p") {
			margin: 0 0 0 $margin-base * 2;
			text-align: left;
			flex-grow: 1;
		}
	}
}
