@import "../../scss/helpers";

$list-footer-height: $padding-box-top + $padding-box-bottom + $button-height-med;
$list-footer-height-mobile: $padding-box-top-mobile + $padding-box-bottom-mobile + $button-height-med-mobile;

:host {
	position: static;
	display: block;
	margin-bottom: -$padding-box-bottom;

	.list-footer__content {
		position: relative;

		@include media($breakpoint-main-min) {
			padding: $padding-box;
		}

		@include media($breakpoint-main-max) {
			padding: $padding-box-mobile;
		}

		&.is-fixed {
			z-index: 2;
			position: fixed;
			bottom: 0;
			right: 0;
			background-color: white;

			@include media($breakpoint-main-min) {
				left: $side-panel-width + $nav-width;
			}

			@include media($breakpoint-main-max) {
				left: 0;
			}
		}
	}

	.list-footer__placeholder {
		display: none;
		height: $list-footer-height;

		@include media($breakpoint-main-max) {
			height: $list-footer-height-mobile;
		}

		&.is-active {
			display: block;
		}
	}

	.list-footer__shade {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 11rem;
		top: -11rem;
		pointer-events: none;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	}
}