@import "../scss/helpers";

:host {
	@include media($breakpoint-main-max) {
		z-index: 20;
		position: fixed;
		height: 100%;
		width: 100%;
		transform: translateY(-100%);
		transition: transform $transition-duration-s ease-in;
	}

	&.is-open {
		@include media($breakpoint-main-max) {
			transition-timing-function: ease-out;
			transform: translateY(0);
		}

		/deep/ side-panel {
			overflow-y: auto;
			z-index: 100;
		}
	}
}