@import "../scss/helpers";

:host {
	display: block;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background: linear-gradient(20deg, #dedfe1 11%, #f4f5f7 47%, #f4f5f7 100%);
	padding: $padding-box-sidebar;

	@include media($breakpoint-main-min) {
		width: $side-panel-width;
		position: absolute;
		left: 0;
	}

	@include media($breakpoint-main-max) {
		position: relative;
		width: 100%;
		padding: $padding-box-mobile-sidebar;
	}

	&::before {
		@include media($breakpoint-main-min) {
			content: '';
			border-radius: 100%;
			height: 100%;
			box-shadow: 1px 30px 40px 5px rgba(0, 0, 0, .35);
			background: transparent;
			position: absolute;
			width: 60px;
			transform: translateX(108%);
			right: 0;
			top: 0;
		}
	}

	&.is-absolute-mobile {
		@include media($breakpoint-main-max) {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transform: translateX(-100%);
			transition: $transition-duration-l ease;
			overflow: auto;
			padding-bottom: 80px;

			&.is-open {
				transform: translateX(0);
			}
		}
	}
}

:host-context(fleetmap) {
	height: auto;
}
