@import "../../scss/helpers";

:host {
	text-align: center;
	margin: 0 auto ($margin-base * 3) auto;
	position: relative;
	display: block;

	@include media(">mobile-p") {
		margin: 0 0 ($margin-base * 5) 0;
	}

	p {
		margin-bottom: $margin-base;

		&:last-child {
			margin: 0;
		}
	}

	.text__headline {
		line-height: 1.2;
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		margin: 0 auto ($margin-base * 2) auto;
	}

	.text__subheadline {
		margin: 0 auto ($margin-base * 2) auto;
		color: $color-grey-calm;
		line-height: 1.2;
		letter-spacing: -1px;
	}

	.text__copy {
		color: $color-grey-warm;
		font-family: $font-text-regular;
		margin: 0 auto ($margin-base * 2) auto;

		@include media("<=tablet-p") {
			margin-top: $margin-base;
		}

		a {
			color: $color-light;
		}
	}

	&.is-center {
		text-align: center;

		.text__copy {
			margin-left: auto;
			margin-right: auto;
			//
			//@include media("<desktop-m") {
			//	max-width: 60%;
			//}
			//
			//@include media("<tablet-l") {
			//	max-width: 70%;
			//}
			//
			//@include media("<tablet-p") {
			//	max-width: 80%;
			//}
		}
	}

	&.isnt-margin-bottom {
		margin-bottom: 0;
	}

	&.is-align-inherit {
		text-align: inherit;
	}
}