/*
	lang: DE
*/
.form__col-driver_salutation {
	clear: both;
	float: none !important;
	@include grid-column(3, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(6, $form-grid);
	}
}

.form__col-driver_firstname {
	@include grid-column(6, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(12, $form-grid);
	}
}

.form__col-driver_lastname {
	@include grid-column(6, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(12, $form-grid);
	}
}

.form__col-company_street {
	@include grid-column(8, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(12, $form-grid);
	}
}

.form__col-company_street_no {
	@include grid-column(4, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(12, $form-grid);
	}
}

.form__col-company_location {
	@include grid-column(8, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(12, $form-grid);
	}
}

.form__col-company_zip {
	@include grid-column(4, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(12, $form-grid);
	}
}

.form__col-person_title {
	@include grid-column(3, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(6, $form-grid);
	}
}

.form__col-person_type {
	@include grid-column(3, $form-grid);

	@include media(">tablet-p") {
		margin-right: calc(#{$form-gutter} * 1.5);
	}

	@include media("<=tablet-p") {
		@include grid-column(6, $form-grid);
	}
}

.form__col-person_firstname {
	@include grid-column(6, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(12, $form-grid);
	}
}

.form__col-person_lastname {
	@include grid-column(6, $form-grid);

	@include media("<=tablet-p") {
		@include grid-column(12, $form-grid);
	}
}

.form__col-person_data_protection_phone {
	@include grid-shift(1, $form-grid);
	@include grid-column(11, $form-grid);

	@include media("<=tablet-p") {
		@include grid-shift(2, $form-grid);
		@include grid-column(10, $form-grid);
	}
}

.form__col-person_data_protection_mail {
	@include grid-shift(1, $form-grid);
	@include grid-column(11, $form-grid);

	@include media("<=tablet-p") {
		@include grid-shift(2, $form-grid);
		@include grid-column(10, $form-grid);
	}
}