@import "../../scss/helpers";

/* ===================================================
Component: Form
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-form"] {
	/*
    Form title
    ----------------------- */
	.form__title {
		margin-bottom: 5.2rem;
		display: inline-block;

		@include media($breakpoint-main-max) {
			margin-bottom: 3rem;
		}
	}

	.form__description {
		margin-bottom: $form-col-margin-bottom;
		color: $color-light;

		// we don't follow BEW/Veams methodology here and use tagName instead
		// because we need to cover user generated content (e.g. via markdown)
		a {
			color: $color-light;
		}
	}

	/*
    Fieldset & Legend
    ----------------------- */
	.form__fieldset {
		border: 0;
		padding: 0;
		margin: 0;
		min-width: 0;
		width: 100%;
	}

	.form__legend {
		@include grid-column(12, $form-grid);
		padding-bottom: 1.7rem;
		margin-bottom: 2rem;
		margin-top: $form-legend-margin-top - $form-col-margin-bottom;
		font-size: 2rem;
		font-weight: bold;
		color: $color-light;
		border-bottom: 1px solid #4db2dc;
	}

	.form__fieldset-description {
		@include grid-column(12, $form-grid);
		font-family: $font-text-regular;
	}

	/*
    Cols & Rows
    ----------------------- */
	.form__row {
		&.is-small-margin {
			margin-bottom: 20px;
		}
	}

	.form__col {
		@include grid-column(12, $form-grid);
		margin-bottom: $form-col-margin-bottom;

		&.is-text-center {
			text-align: center;
		}
	}

	/*
    Labels & Types
    ------------ */
	.form__field {
		background-color: $form-field-bg-color;
		height: $form-field-height;
		border-radius: $form-field-radius;
		font-size: $form-field-font-size;
		padding: $form-field-padding;
		width: 100%;
		color: $color-blue-vw;
		border: none;
	}

	// Label
	.form__label {
		margin-bottom: .6rem;
		display: block;
		color: $color-light;
		font-size: $form-label-font-size;
		text-overflow: ellipsis;

		.richtext-block {
			display: inline-block;
		}
	}

	/*
    Input
    ----------------------- */
	@import "input/bb-input.component";

	/*
	Select
	----------------------- */
	@import "select/bb-select.component";

	/*
	Radio
	----------------------- */
	@import "radio/bb-radio.component";

	/*
	Checkbox
	----------------------- */
	@import "checkbox/bb-checkbox.component";

	/*
	Input Norway
	----------------------- */
	@import "input-norway/bb-input-norway.component";

	/*
	Wizard
	----------------------- */
	@import "wizard/bb-wizard.component";

	/*
    Datepicker
    ----------------------- */
	.form__datepicker {
		input {
			padding: 12px;
			font-size: 14px;
		}
	}

	/*
    Textarea
    ----------------------- */
	.form__textarea {
		textarea {
			padding: 13px;
			font-size: 14px;
		}
	}

	.form__textarea-input {
		border-radius: $border-radius-default;
		padding: 8px;
		border: 1px solid $color-grey-calm;
		width: 100%;
	}

	/*
    Textarea
    ----------------------- */
	.form__submit-text {
	}

	/*
    Error
    ----------------------- */
	.form__error {
	}

	/*
    Modifiers
    ----------------------- */
	.is-inline {
		display: inline;
	}

	.is-left {
		float: left;
	}

	.is-right {
		float: right;
	}

	.is-hidden {
		display: none;
	}

	.is-center {
		text-align: center;
	}

	.is-margin-top {
		margin-top: 1rem;
	}
}
