<div class="switcher__wrapper">

	<div class="switcher__item">
		<div class="ui-switch__control"></div>
    </div>
    
    <label for="{{props.id}}" class="switcher__label">
        <div *ngIf="ui['ui:options']?.markdownLabel; else regularLabel"
                class="is-white"
                links-to-router>{{ title }}</div>
        <ng-template #regularLabel>{{ title }}</ng-template>
        <abbr *ngIf="required" title="Required">*</abbr>
    </label>

    <span class="input__description is-description" *ngIf="props.description">
        {{props.description }}
    </span>

</div>