@import "../helpers";

.datepicker--svogv {
	width: 100%;
	margin-top: 23px;

	.dp-day-calendar-container {
		background-color: transparent !important;
	}

	.dp-calendar-wrapper,
	.dp-calendar-weekday {
		border: none !important;
		text-transform: uppercase;
	}

	.dp-calendar-nav-container {
		border: none !important;
		margin-bottom: 30px;
	}

	.dp-calendar-nav-left,
	.dp-calendar-nav-right {
		&::before {
			height: 22px !important;
			width: 22px !important;
			color: $color-blue-vw !important;
			border-width: 6px 6px 0 0 !important;
			margin: 0 18px;
		}
	}

	.dp-calendar-day {
		width: 41px !important;
		height: 41px !important;
		margin: 3px 9px;

		&:hover {
			background-color: $color-grey-warm;
			color: $color-text-white;
		}

		&:disabled {
			color: $color-text-light;

			&:hover {
				background-color: transparent;
				color: $color-text-light;
			}
		}
	}

	.dp-calendar-weekday {
		width: 59px !important;
		border: none;
	}

	.dp-nav-header {
		font-size: $fs-h3 !important;
		font-family: $font-text-bold;
		color: $color-text-default;
	}

	.dp-calendar-month,
	.dp-calendar-day {
		font-size: 1.4rem;
		font-family: $font-text-regular;
		color: $color-text-default;
		box-sizing: border-box;
		border-radius: 50%;
		border: none;
		outline: none;
	}

	.dp-month-calendar-container {
		background-color: transparent !important;
		margin: 0 auto;
	}

	.dp-selected {
		background-color: $color-blue-vw !important;
		color: $color-text-white;
		font-family: $font-text-bold;

		&:hover {
			//background: @c-primary;
		}
	}

	.dp-current-day {
		border: 1px solid $color-grey-soft;
	}

	&.is-directive {
		width: auto;
		margin: 0;
		background-color: transparent !important;
		z-index: 2;
		position: relative;

		&.dp-popup {
			margin-top: 20px;

			&::before,
			&::after {
				@include centering(h);
				@include pseudo();
				top: -13px;
				border-radius: $border-radius-default;
				transform: rotate(45deg);
				width: 22px;
				height: 22px;
				background: $color-white;
				transform-origin: 0 0;
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
				z-index: 1;
			}

			&::before {
				box-shadow: none;
				z-index: 3;
			}
		}

		.dp-day-calendar-container {
			background-color: #fff !important;
			width: 354px;
			padding: 23px 16px 16px;
			border-radius: $border-radius-default;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
		}

		.dp-calendar-weekday {
			width: (322px / 7) !important;
		}

		.dp-calendar-day {
			width: (322px / 7) !important;
			height: (322px / 7) !important;
			margin: 0 !important;
			color: $color-grey-warm;

			&:hover {
				color: $color-white;
			}
		}

		.dp-nav-header {
			color: $color-blue-vw;
		}

		.dp-selected {
			color: $color-text-white;
		}
	}
}
