@import "../helpers";

/* stylelint-disable */

.toast-title {
	font-weight: bold;
}

.toast-message {
	word-wrap: break-word;
	font-family: $font-head-bold;
}

.toast-message a,
.toast-message label {
	color: #fff;
}

.toast-message a:hover {
	color: #CCCCCC;
	text-decoration: none;
}

.toast-close-button {
	position: relative;
	float: right;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	opacity: .2;
	line-height: 16px;
	right: -10px;
}

.toast-close-button:hover,
.toast-close-button:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.toast-top-center {
	top: 0;
	right: 0;
	width: 100%;
}

.toast-bottom-center {
	bottom: 0;
	right: 0;
	width: 100%;
}

.toast-top-full-width {
	top: 0;
	right: 0;
	width: 100%;
}

.toast-bottom-full-width {
	bottom: 0;
	right: 0;
	width: 100%;
}

.toast-top-left {
	top: 12px;
	left: 12px;
}

.toast-top-right {
	top: 12px;
	right: 12px;
}

.toast-bottom-right {
	right: 12px;
	bottom: 12px;
}

.toast-bottom-left {
	left: 117px;
	bottom: 20px;

	@include media($breakpoint-main-max) {
		left: 20px;
	}
}

#toast-container {
	pointer-events: none;
	position: fixed;
	z-index: 99999;
}

#toast-container * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#toast-container > div {
	position: relative;
	margin: 0 0 6px;
	padding: 30px;
	width: 530px;
	border-radius: 4px;
	background-position: 15px center;
	background-repeat: no-repeat;
	color: #FFFFFF;
}

#toast-container > div.toast-custom {
	padding: 15px;
	color: #030303;
}

#toast-container > div.toast-custom .toast-close-button {
	color: #999999 !important;
}

#toast-container > :hover {
	box-shadow: 0 0 12px #000000;
	opacity: 1;
	cursor: pointer;
}

#toast-container > .toast-info {

}

#toast-container > .toast-error {

}

#toast-container > .toast-success {
	&::before {
		content: '!';
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		top: -9px;
		left: -9px;
		background-color: $color-bluesvogv;
		color: #fff;
		font-size: 20px;
		border-radius: 100%;
		font-family: $font-head-bold;
		text-align: center;
		line-height: 30px;
	}
}

#toast-container > .toast-warning {

}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
	width: 300px;
	margin: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
	width: 96%;
	margin: auto;
}

.toast {
	background-color: #FFFFFF;
	pointer-events: auto;
}

.toast-success {
	background-color: #2F3538;
}

.toast-error {
	background-color: #BD362F;
}

.toast-info {
	background-color: #2F96B4;
}

.toast-warning {
	background-color: #F89406;
}

.toast-progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	background-color: #000000;
	opacity: 0.4;
}


@media all and (min-width: 241px) and (max-width: 480px) {
	#toast-container > div {
		width: calc(100% - 20px);
		padding: 15px 30px;
	}
}