@import "../helpers";

.ng-tooltip {
	max-width: 200px;
	background-color: $color-blue-ocean;
	color: #fff;
	text-align: center;
	border-radius: $border-radius-default;
	padding: 5px 12px;
	position: absolute;
	z-index: 100;
	display: block;
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
	font-family: $font-text-regular;

	@include media($breakpoint-main-max) {
		display: none;
	}
}

.ng-tooltip-show {
	opacity: 1;
}

.ng-tooltip::after {
	content: "";
	position: absolute;
	border-style: solid;
}

.ng-tooltip-top::after {
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-color: $color-blue-ocean transparent transparent transparent;
}

.ng-tooltip-bottom::after {
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-color: transparent transparent $color-blue-ocean transparent;
}

.ng-tooltip-left::after {
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-color: transparent transparent transparent $color-blue-ocean;
}

.ng-tooltip-right::after {
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-color: transparent $color-blue-ocean transparent transparent;
}