@import "../../scss/helpers";

:host {
	display: block;
	visibility: hidden;

	&:hover {
		cursor: pointer;
	}
}

:host.map-marker--default {
	width: 38px;
	height: 50px;
	transform: translateY(-25px);
}

:host.map-marker--plate {
	transform: translate3d(0, calc(-50% + 3px), 0);
}