<div class="content">
  <form (ngSubmit)="saveUser()" [formGroup]="userForm" role="form">
    <fieldset style="width: 100%">
      <legend>Edit current user</legend>
      <ac-editor [userForm]="userForm" name="userName"></ac-editor>
      <ac-editor [userForm]="userForm" name="email"></ac-editor>
      <ac-editor [userForm]="userForm" name="phoneNumber"></ac-editor>
      <ac-editor [userForm]="userForm" name="age"></ac-editor>
      <ac-editor [userForm]="userForm" name="birthday"></ac-editor>
      <ac-editor [userForm]="userForm" name="isAdmin"></ac-editor>
      <ac-editor [userForm]="userForm" name="passWord"></ac-editor>
      <ac-editor [userForm]="userForm" name="passWordTwo"></ac-editor>
      <div class="row">
        <button mat-button type="submit" [disabled]="!userForm.valid">
          <mat-icon>save</mat-icon> Save
        </button>
        <button mat-button type="submit" [disabled]="!userForm.valid">
            <mat-icon>save</mat-icon> Save &amp; Close
        </button>
        <button mat-button color="warn" type="button" (click)="closeForm()">
            <mat-icon>remove</mat-icon> Cancel &amp; Return to List
        </button>
      </div>
    </fieldset>
  </form>
  <mat-card>
    <mat-card-title>
      Techniques used
    </mat-card-title>
    <mat-card-content>
      <p>This form makes use of the &lt;ac-editor&gt; component.</p>
      <code><pre>
 &lt;form (ngSubmit)="saveUser()" [formGroup]="userForm" role="form" class="row">
    &lt;fieldset>
      &lt;legend>Edit current user&lt;/legend>
      &lt;ac-editor [userForm]="userForm" [name]="'userName'" >&lt;/ac-editor>
      &lt;ac-editor [userForm]="userForm" [name]="'email'" >&lt;/ac-editor>
      &lt;ac-editor [userForm]="userForm" [name]="'phoneNumber'" >&lt;/ac-editor>
      &lt;ac-editor [userForm]="userForm" [name]="'age'" >&lt;/ac-editor>
      &lt;ac-editor [userForm]="userForm" [name]="'passWord'" >&lt;/ac-editor>
      &lt;ac-editor [userForm]="userForm" [name]="'passWordTwo'" >&lt;/ac-editor>
</pre></code>
      <p>
        The form needs a name, here we used 'userForm'. The editor gets a reference to that name using the property [userForm]. The
        [name] property is bound to the properties of the view model. The view model needs the decorators to figure out what
        editor must be shown. It also pulls the validation information from the model. The model used on this form looks
        like this:
      </p>
      <p>
        The @Display decorator can order and group elements, too. You can create more than just simple forms with it.
      </p>
      <code>
<pre>
export class UserViewModel {{ '{' }}

  @Hidden()
  id: number = 0;

  @Display('E-Mail', 'E-Mail address')
  @Required()
  @MaxLength(100)
  @Email()
  email: string = '';

  @Display('Phone Number', 'The user\'s phone')
  @Required()
  @MaxLength(20)
  phoneNumber: string = '';

  @Display('User Name', 'The full name')
  @Required()
  @MaxLength(100)
  userName: string = '';

  @Display('Age', 'From 12 to 88')
  @Range(12, 88)
  age = 14;

  @Display('Password')
  @Required()
  @Compare('passWordTwo')
  passWord: string = '';

  @Display('Password')
  @Required()
  passWordTwo: string = '';

{{ '}' }}
</pre>
</code>
    </mat-card-content>
  </mat-card>
</div>