@import "../../scss/helpers";

:host {
	font-size: $fs-text-small;
	font-family: $font-text-regular;

	span {
		&::before {
			background: $color-grey-warm;
			content: '';
			display: inline-flex;
			width: 2rem;
			height: 2rem;
			border-radius: 1rem;
			border: .4rem solid lighten($color-grey-warm, $lighten-x);
			background: $color-grey-warm;
			margin-right: 1rem;
		}
	}

	.is-active {
		&::before {
			background: $icon-background-color-success;
			border-color: lighten($icon-background-color-success, $lighten-x);
		}
	}

	@include media("<mobile-xl") {
		span {
			margin: 1rem 0;
		}
	}
}
