@import "../../scss/helpers";

:host {
	background-color: $color-blue;
	border-radius: $border-radius-default;
	width: 256px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	font-family: $font-text-regular;
	transform: translate3d(-65%, -15%, 0);
	cursor: pointer;
	z-index: 2;

	@include media($breakpoint-main-max) {
		transform: translate3d(-0%, 65%, 0);
	}

	&::before {
		background-color: $color-blue;
		content: '';
		position: absolute;
		top: 50%;
		right: -12px;
		width: 20px;
		height: 20px;
		border-radius: $border-radius-default;
		transform: rotate(45deg) translate3d(-50%, 0, 0);

		@include media($breakpoint-main-max) {
			top: -12px;
			right: auto;
			left: 50%;
			transform: rotate(45deg) translate3d(-0%, 50%, 0);
		}
	}

	.map-popup__info {
		margin: 25px;

		@include media($breakpoint-main-max) {
			margin: 15px;
		}
	}

	.map-popup__active {
		background-color: rgba(#fff, .2);
		padding: 9px;
		font-size: 12px;
	}

	.map-popup__licence-plate {
		font-family: $font-head-bold;
	}

	.map-popup__driver-tel {
		margin-top: 18px;
		font-family: $font-head-bold;
	}
}

