<div class="list-header__tools">
	<div class="list-header__title-container">
		<div class="list-header__title">
			<ng-content select="[title]"></ng-content>
		</div>
		<span class="list-header__title-link">
			<ng-content class="list-header__title-link" select="[title-link]"></ng-content>
		</span>
	</div>

	<div class="list-header__tools-container">
		<div class="list-header__filter-tags">
			<ng-content select="[tags]"></ng-content>
		</div>
		<div class="list-header__order-widget">
			<ng-content select="[order-widget]"></ng-content>
		</div>
	</div>

</div>