$min-width: false !default; // This variable will be used in veams-sass

// Define Your Breakpoints For Bourbon Neat
@import "global/breakpoints";

/* ===================================================
Global Variables
=================================================== */

/*
Layout
----------------------- */
$srf-margin-base: 1rem !default;

/*
Fonts
----------------------- */
$srf-label-size: 1.6rem !default;
$srf-label-color: #fff !default;

/*
Colors
----------------------- */
$srf-error-color: #c70000 !default;

$svogv-webkit: false;
$svogv-moz: false;
$svogv-ms: false;
$svogv-o: faslse;


/* ===================================================
BOURBON NEAT SETTINGS
=================================================== */

/* ---------------------------------------------------
Grid
--------------------------------------------------- */
$neat-grid: (
	columns: 12,
	gutter: 20px
);

$grid-breakpoints-defaults: (
	'mobile-p': (
		columns: 12,
		gutter: 20px,
		media: $bp-mobile-s
	),
	'mobile-l': (
		columns: 12,
		gutter: 20px,
		media: $bp-mobile-l
	),
	'tablet-p': (
		columns: 12,
		gutter: 20px,
		media: $bp-tablet-p
	),
	'tablet-l': (
		columns: 12,
		gutter: 20px,
		media: $bp-tablet-l
	),
	'desktop-l': (
		columns: 12,
		gutter: 20px,
		media: $bp-desktop-l
	)
);

$max-width: 1196px !default;
$max-width-panel: $max-width;

/* ---------------------------------------------------
Breakpoints
--------------------------------------------------- */
$breakpoints: (
	'mobile-s': $bp-mobile-s,
	'mobile-p': $bp-mobile-p,
	'mobile-l': $bp-mobile-l,
	'mobile-xl': $bp-mobile-xl,
	'tablet-p': $bp-tablet-p,
	'tablet-l': $bp-tablet-l,
	'desktop-m': $bp-desktop-m,
	'desktop-l': $bp-desktop-l
);

$breakpoint-main: "<tablet-l";
$breakpoint-main-max: "<tablet-l";
$breakpoint-main-min: ">=tablet-l";

/* ---------------------------------------------------
Colors
--------------------------------------------------- */
// Primary colors
$color-blue: #0099da !default;
$color-grey-sky: #f3f5f6 !default;

// Accent colors
$color-grey-night: #1d1f20 !default;
$color-grey-midnight: #2f3538 !default;
$color-grey-warm: #808890 !default;
$color-grey-soft: #bdc3c6 !default;
$color-grey-light: #e3e6e8 !default;
$color-grey-calm: #dee1e3 !default;
$color-grey-darknight: #32353e !default;
$color-grey-dark: #1b1c1e !default;
$color-blue-ocean: #0068aa !default;
$color-orange-warm: #faaa00 !default;

$color-black: #000 !default;
$color-white: #fff !default;

/*
Text Colors
----------------------- */
$color-text-default: $color-grey-midnight !default;
$color-text-dark-blue: #314249 !default;
$color-text-dark: #33373a !default;
$color-text-light: $color-grey-warm !default;
$color-text-lighter: #969696 !default;
$color-text-white-darker: #bdc3c6 !default;
$color-text-white-dark: #d8d8d8 !default;
$color-text-white: #fff !default;

/*
General Colors
----------------------- */
$color-primary-darker: #00385c !default;
$color-primary-dark: #1f4a79 !default;
$color-primary-medium: #3a95d7 !default;
$color-grey-bg: #d8d8d8 !default;
$color-light: #fff !default;
$color-red: #c82e2d !default;
$color-picton-blue: #4fb7e3 !default;
$color-gray-chateau: #a6abb1 !default;
$color-red-darker: #af3f2c !default;

/*
Social Colors
----------------------- */
$color-facebook: #3a5b93 !default;
$color-youtube: #ff3e3d !default;

/*
State Colors
----------------------- */
$color-invalid: #c82d2c;
$color-valid: #309310;
$color-warning: #fff00e;
$color-disabled: $color-grey-soft;

/*
Darken & Lighten
----------------------- */
$darken-s: 5%;
$darken-m: 10%;
$darken-x: 20%;
$lighten-s: 5%;
$lighten-m: 10%;
$lighten-x: 20%;

/* ---------------------------------------------------
General Element Variables
--------------------------------------------------- */
$border-radius-default: 4px;
$border-radius-medium: 8px;
$border-color: $color-grey-calm;

/* ---------------------------------------------------
Icons
--------------------------------------------------- */
$icon-background-color: $color-grey-calm !default;
$icon-background-color-success: $color-blue;
$icon-background-color-info: $color-valid;
$icon-background-color-warning: $color-orange-warm;
$icon-background-color-danger: $color-red;
$icon-background-color-disabled: $color-grey-bg;

/* ---------------------------------------------------
Z-Indexes
--------------------------------------------------- */
$zindex-base: 10;
$zindex-section: 40;
$zindex-section-header: 50;
$zindex-section-footer: 50;
$zindex-header: 100;
$zindex-aside: 110;
$zindex-aside-top: 120;
$zindex-notification: 200;
$zindex-top: 100;
$zindex-overlay: 9999;
$zindex-overlay-mask: 9998;
$zindex-overlay-close: 9997;

/* ---------------------------------------------------
Navigation
--------------------------------------------------- */
$nav-width: 9.6rem !default;
$nav-height-mobile: 6.5rem !default;
$nav-top-height: 6.5rem !default;
$nav-item-height: 87px !default;

/* ---------------------------------------------------
Footer
--------------------------------------------------- */
$footer-min-height: 6.3rem !default;

/* ---------------------------------------------------
Layout
--------------------------------------------------- */
$margin-base: 1rem;

$side-panel-width: 41.6rem;

// Padding Box Main
$padding-box-top: 6.8rem;
$padding-box-bottom: 6.8rem;
$padding-box-sides: 8rem;

$padding-box-top-mobile: 4.8rem;
$padding-box-bottom-mobile: 5.4rem;
$padding-box-sides-mobile: 2.4rem;

$padding-box: $padding-box-top $padding-box-sides $padding-box-bottom;
$padding-box-mobile: $padding-box-top-mobile $padding-box-sides-mobile $padding-box-bottom-mobile;

// Padding Box Sidebar
$padding-box-top-sidebar: 4.5rem;
$padding-box-bottom-sidebar: 8rem;
$padding-box-sides-sidebar: 5rem;

$padding-box-top-mobile-sidebar: 3.3rem;
$padding-box-bottom-mobile-sidebar: 5rem;
$padding-box-sides-mobile-sidebar: 2.4rem;

$padding-box-sidebar: $padding-box-top-sidebar $padding-box-sides-sidebar $padding-box-bottom-sidebar;
$padding-box-mobile-sidebar: $padding-box-top-mobile-sidebar $padding-box-sides-mobile-sidebar $padding-box-bottom-mobile-sidebar;

/* ---------------------------------------------------
Fonts
--------------------------------------------------- */
$font-text-regular: "VW-Text-Regular",  Arial, sans-serif;
$font-text-bold: "VW-Text-Bold", Arial, sans-serif-bold;
$font-text-light: "VW-Text-Light", Arial, sans-serif-light;

$font-head-regular: "VW-Head-Regular", Arial, sans-serif;
$font-head-bold: "VW-Head-Bold", Arial, sans-serif-bold;
$font-head-extrabold: "VW-Head-ExtraBold", Arial, sans-serif-bold;

/*
Font Settings
----------------------- */
// Base font size
$font-size-base: 1rem;

// Text font sizes
$fs-text-medium: $font-size-base * 1.7;
$fs-text-default: $font-size-base * 1.6;
$fs-text-small: $font-size-base * 1.4;
$fs-text-xsmall: $font-size-base * 1.2;
// todo: add 14 as mobile default text

// Specific sizes
$fs-message-title: 2.4;
$fs-search-text: 2.8;

// Header font sizes
$fs-h1: $font-size-base * 6;
$fs-h2: $font-size-base * 4;
$fs-h3: $font-size-base * 2.4;
$fs-h4: $font-size-base * 1.8;

// Header font sizes - mobile
$fs-h1-mobile: $font-size-base * 4.5;
$fs-h2-mobile: $font-size-base * 2.4;
$fs-h3-mobile: $font-size-base * 1.8;
$fs-h4-mobile: $font-size-base * 1.6;

// Header font margins
$fs-h1-margin: $margin-base * 2 0 $margin-base;
$fs-h2-margin: $margin-base * 2 0 $margin-base;
$fs-h3-margin: $margin-base 0 $margin-base;
$fs-h4-margin: $margin-base 0 $margin-base;

// Header font margins mobile
$fs-h1-margin-mobile: $margin-base * 2 0 $margin-base;
$fs-h2-margin-mobile: $margin-base * 2 0 $margin-base;
$fs-h3-margin-mobile: $margin-base 0 $margin-base;
$fs-h4-margin-mobile: $margin-base 0 $margin-base;
// todo: check if h5 is necacary

/* ---------------------------------------------------
Text
--------------------------------------------------- */
$line-height-base: 1.625;

/* ---------------------------------------------------
Buttons
--------------------------------------------------- */
$button-min-width: 28rem;

// Sizes
$button-height-med: 5rem;
$button-height-tny: 3rem;
$button-height-sml: 4rem;
$button-height-lrg: 5.4rem;

// Sizes Mobile
$button-height-med-mobile: 4rem;
$button-height-tny-mobile: 3rem;
$button-height-sml-mobile: 4rem;
$button-height-lrg-mobile: 4rem;

// Minimal Width
$button-min-width-med: 20rem;
$button-min-width-lrg: 25rem;
$button-min-width-tny: auto;

// Maximal Width
$button-max-width-med: 25rem;
$button-max-width-med-mobile: 22rem;
$button-max-width-lrg: 30rem;
$button-max-width-tny: auto;

// Margins
$button-margin-side-med: 1rem;
$button-margin-side-tny: .5rem;

// Background colors
$button-bg-color: $color-blue;
$button-bg-color-white: $color-light;
$button-bg-color-disabled: $color-grey-soft;

// Hover color
$button-hover-color: $color-light;
$button-hover-bg-color: $color-blue-ocean;

// Font sizes
$button-font-med: 1.4rem;

// Font settings
$button-font-weight: bold;
$button-font-align: center;

// Font colors
$button-font-color: $color-light;
$button-font-color-blue: $color-blue;
$button-font-color-disabled: $color-grey-calm;

/* ---------------------------------------------------
Link
--------------------------------------------------- */
$link-color: $color-blue;
$link-color-hover: $color-blue-ocean;

/* ---------------------------------------------------
Animations
--------------------------------------------------- */
$transition-duration-xl: 1s;
$transition-duration-l: .7s;
$transition-duration-m: .45s;
$transition-duration-s: .3s;
$transition-duration-xs: .2s;
$transition-duration-xxs: .1s;

$transition-ease-1: cubic-bezier(.7, 0, .3, 1);

@keyframes animmation-lightspeed-in {
	0% {
		transform: translateX(-200%);
		opacity: 1;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@mixin fullRoundRotate {
	transform: translateZ(0);
	animation: rotate360 1.1s infinite linear;
}

@keyframes rotate360 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* ---------------------------------------------------
Forms
--------------------------------------------------- */

// Form Grid
$form-gutter: 1.5rem;
$form-columns: 12;
$form-col-margin-bottom: 2.2rem;
$form-grid: (
	columns: $form-columns,
	gutter: $form-gutter
);

// Form Field
$form-field-bg-color: $color-picton-blue;
$form-field-height: 4.3rem;
$form-field-radius: .4rem;
$form-field-font-size: 1.6rem;
$form-field-font-color: $color-light;
$form-field-padding: 12px 20px;

// Form Label
$form-label-font-size: 1.6rem;

// Form Checkbox
$form-checkbox-size: 3.2rem;
$form-checkbox-margin-right: 1.3rem;
$form-checkbox-indent: $form-checkbox-size + $form-checkbox-margin-right;

// Form Legend
$form-legend-margin-top: 4.6rem;

/*
Json Schema 2 Reactive Form Module
----------------------- */
$srf-select-placeholder-color: $color-blue-ocean;
$srf-string-color-value: $color-blue-ocean;
$srf-field-background-color-focus: $color-white;
$srf-field-background-color-empty: #35aadc;
$srf-field-height: 4.3rem;
$srf-field-font-size: 1.4rem;
$srf-select-color-btn: $color-blue;

/* ---------------------------------------------------
Filtering
--------------------------------------------------- */
// todo: Make .8 spacing general because it is used in multiple components.
$filtering-item-spacing: .8rem;
$filtering-item-height: 6rem;