@import "../../scss/helpers";

:host {
	display: table;
	cursor: pointer;
	text-align: center;

	&.is-center {
		margin: 0 auto;
	}
}

:host.cta--default {
	background-color: $color-blue;
	color: #fff;
	padding: 10px 20px;
	border-radius: 100px;
	font-family: $font-head-bold;
	font-size: 14px;
	min-width: 200px;

	@include media(">mobile-p") {
		padding: 16px 20px;
	}

	&.is-margin-bottom {
		margin-bottom: $margin-base * 3;

		@include media(">mobile-p") {
			margin-bottom: ($margin-base * 5);
		}
	}

}

:host.cta--close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;

	&.is-black {
		background-color: $color-grey-night;
	}
}

:host.cta--back {
	height: 78px;
	width: 38px;
	background: url('../../../../../../assets/img/svg/svogv_back.svg');
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) translateX(-100%);
	z-index: 10;
	transition: $transition-duration-l;

	&.is-open {
		transform: translateY(-50%) translateX(00%);
		transition-delay: $transition-duration-l;
	}
}