<div [class]="'form__col form__col-' + controlName">
	<label *ngIf="options?.title"
		   [attr.for]="'control' + layoutNode?._id"
		   [class]="options?.labelHtmlClass"
		   [class.sr-only]="options?.notitle"
		   [innerHTML]="options?.title"></label>

	<input #inputControl
		   [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
		   [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
		   [attr.maxlength]="options?.maxLength"
		   [attr.minlength]="options?.minLength"
		   [attr.pattern]="options?.pattern"
		   [attr.placeholder]="options?.title"
		   [attr.required]="options?.required"
		   [class]="options?.fieldHtmlClass"
		   [class.is-invalid]="formControl.invalid"
		   [disabled]="controlDisabled"
		   [id]="'control' + layoutNode?._id"
		   [name]="controlName"
		   [readonly]="options?.readonly ? 'readonly' : null"
		   [type]="layoutNode?.type"
		   [value]="controlValue"
		   (input)="updateValue($event)">
	<datalist *ngIf="options?.typeahead?.source"
			  [id]="'control' + layoutNode?._id + 'Autocomplete'">
		<option *ngFor="let word of options?.typeahead?.source"
				[value]="word">
	</datalist>
</div>
