@import "../../../scss/helpers";

:host {
	display: block;

	.horizontal-bar-chart {
		background: linear-gradient(to left, $color-grey-sky, #fff);
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: baseline;
		flex-basis: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		z-index: -2;
		overflow: hidden;
		animation: 1.5s AnimateWidth;

		.horizontal-bar-chart__gradient-wrapper {
			position: absolute;
			left: 0;
			z-index: -1;
			height: 100%;
			width: 100%;
			background: radial-gradient(ellipse farthest-side at center top, rgba(100, 100, 100, .1) 0%, transparent 80%);
		}
	}

	&.first {
		.horizontal-bar-chart__gradient-wrapper {
			background: transparent !important;
		}
	}
}

@keyframes AnimateWidth {
	from {
		width: 0;
	}
}