<div class="image__wrapper" [formGroup]="props.parentFormGroup">

	<div class="image__picture">
		<img src="{{previewImage || fallbackImage}}" alt="">

		<div class="image__edit-wrapper is-button" (click)="fileInput.click()">
			<div class="image__edit-btn is-icon">
				<ac-icon iconName="edit" size="18px"></ac-icon>
			</div>
		</div>

		<div class="image__delete-wrapper is-button" *ngIf="previewImage" (click)="deleteImage()">
			<div class="image__delete-btn is-icon">
				<ac-icon iconName="delete" size="18px"></ac-icon>
			</div>
		</div>

	</div>
	<div class="image__input-wrapper is-hidden">
		<input
				type="text"
				class="image__input"
				[ngClass]="{'is-empty': !props.formControl.value}"
				id="{{props.id}}"
				name="{{props.id}}"
				[formControl]="props.formControl"
				(click)="fileInput.click()"
				readonly
		>
	</div>
	<input
			#fileInput
			type="file"
			class="is-hidden"
			name="{{props.id}}"
			(change)="handleFileUpload($event)"
	>
</div>