@import "../../../scss/helpers";

:host {
	cursor: pointer;
	display: block;
	position: relative;
	padding-left: 35px;
	font-size: 1.6rem;
	font-family: $font-head-bold;
	color: $color-white;
	line-height: $button-height-med;
	border-top: 1px solid #00adde;
	height: $button-height-med;

	&:hover {
		color: $color-text-default;
	}

	.fly-out-item__icon {
		@include centering(v);
		left: 0;
		font-size: 2rem;
		line-height: 0;
	}
}