<picture>
    <!--<source *ngIf="content.srcset.320" srcset="{{content.srcset.320}}" media="(max-width: 320px)">-->
    <!--<source *ngIf="content.srcset.480" srcset="{{content.srcset.480}}" media="(max-width: 480px)">-->
    <!--<source *ngIf="content.srcset.768" srcset="{{content.srcset.768}}" media="(max-width: 768px)">-->
    <!--<source *ngIf="content.srcset.1024" srcset="{{content.srcset.1024}}" media="(max-width: 1024px)">-->
    <!--<source *ngIf="content.srcset.1025" srcset="{{content.srcset.1025}}" media="(min-width: 1025x)">-->
    <img src="{{vm.content?.src}}" alt="{{vm.content?.alt}}">
</picture>