@import "../data-set.component";

:host {
	margin: 0;
	line-height: 1em;

	.data-set-item__wrapper {
		display: flex;
		padding: $sidebar-table-outer-spacing;

		.data-set-item__label {
			flex-grow: 1;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			min-height: 2.2rem;
			margin-top: 4px;
		}

		.data-set-item__value {
			padding-left: $sidebar-table-horizontal-spacing;
			overflow: hidden;
			font-family: $font-head-bold;
			font-size: $fs-h4;
			color: $color-text-dark;
			white-space: nowrap;
			text-overflow: ellipsis;
			line-height: 2.2rem;

			&:empty::after {
				content: '-';
			}
		}

		@include media("<mobile-xl") {
			padding: $sidebar-table-vertical-spacing $sidebar-table-horizontal-spacing;
		}
	}

	@include media(">mobile-xl") {
		display: block;
		border-bottom: $sidebar-table-divider-style;
	}

	@include media("<mobile-xl") {
		display: inline-block;
		border-right: $sidebar-table-divider-style;
	}

	&:last-child {
		border: none;
	}
}
