/* ===================================================
BASE
=================================================== */

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
	font-size: 62.5%;
	height: 100%;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100%;
	font-family: $font-text-regular;
	line-height: 1.4;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color-grey-midnight;
	font-size: $font-size-base * 1.6;

	@include media("<=tablet-l") {
		font-size: $font-size-base * 1.4;
	}
}

.page-wrapper {
	display: block;
	height: 100%;
	width: 100%;
}

/* ---------------------------------------------------
Standard Elements
--------------------------------------------------- */
strong,
legend,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-head-bold;
}

h1 {
	font-size: $fs-h1;
	margin: $fs-h1-margin;

	@include media("<=tablet-l") {
		font-size: $fs-h1-mobile;
	}
}

h2 {
	font-size: $fs-h2;
	margin: $fs-h2-margin;

	@include media("<=tablet-l") {
		font-size: $fs-h2-mobile;
	}
}

h3 {
	font-size: $fs-h3;
	margin: $fs-h3-margin;

	@include media("<=tablet-l") {
		font-size: $fs-h3-mobile;
	}
}

h4 {
	font-size: $fs-h4;
	margin: $fs-h4-margin;

	@include media("<=tablet-l") {
		font-size: $fs-h4-mobile;
	}
}

/* stylelint-disable */
markdown {
	display: inline-block;

	 p {
		 margin-bottom: 1.3rem;
	 }

	 a {
		 color: $color-blue;

		 &:hover {
			 color: $color-blue-ocean;
		 }
	 }

	&.is-white {
		p {
			color: $color-white;
		}

		a {
			color: $color-white;
			text-decoration: underline;

			&:hover {
				color: $color-blue-ocean;
			}
		}
	}
 }



/* stylelint-enable */

/*
h5 {
	font-size: $fs-h5;
	margin: $fs-h5-margin;

	@include media("<=tablet-l") {
		font-size: $fs-h5-mobile;
	}
}

h6 {
	font-size: $fs-h6;
	margin: $fs-h6-margin;

	@include media("<=tablet-l") {
		font-size: $fs-h6-mobile;
	}
}

*/

li,
p,
label,
input {
	font-family: $font-text-regular;
}

// Cleafix
.cf {
	@include clearfix();
}

img {
	max-width: 100%;
	vertical-align: top;

	&.is-hidden {
		display: none;
	}
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

// styling of console output element (triggered by parameter 'devmode' and 'logger' in url)
.js-logger {
	position: fixed;
	right: 20px;
	bottom: 20px;
	left: 20px;
	color: #fff;
	height: calc(100% / 6);
	background-color: rgba(0, 0, 0, .9);
	padding: 20px;
	font-size: 14px;
	overflow-y: auto;
	z-index: 9999;
	border-radius: 10px;
	border: 10px solid red;
}

a {
	text-decoration: none;
	color: $color-blue;
}
