<div [class]="'form__col form__col-' + controlName">
	<input
		[id]="'control' + layoutNode?._id"
		[name]="controlName"
		[checked]="controlValue"
		[type]="layoutNode?.type"
		[class]="options?.fieldHtmlClass"
		[class.is-invalid]="formControl.invalid"
		(change)="updateValue($event)">
	<label *ngIf="options?.title"
		   [class]="options?.labelHtmlClass"
		   [class.sr-only]="options?.notitle"
		   [attr.for]= "'control' + layoutNode?._id"
		   [innerHTML]="options?.title">
	</label>
</div>
